P{
   font-size: 25px; 
}
h3{
    font-size: 30px;
    padding: 5px; 
}
h1{
  font-size: 40px; 
}
a{
  font-size: 30px;  
  padding: 5px 
}
body{
    background-image: url(http://img2.wikia.nocookie.net/__cb20140510050836/halo/images/4/4e/H4-Composer-GammaHalo-Ring.jpg);
    color:#2a6496
}   

    

   


